{% extends "base.html.twig" %}

{% block title %}Detail de {{pizza.nom}}{% endblock %}

{% block titrePage %}La pizza {{pizza.nom}}{% endblock %}

{% block body %}
    <div class="corps_detail_pizza">
        <div>Prix de fabrication : <span style="font-size:30px;">{{cout}}€</span></div>
        <div>Ingrédients :
           
                {% for ingredient in pizza.quantiteIngredients %}
                     <span style="font-size: 30px;">{{ingredient.ingredient.nom}}</span>
                {% endfor %}
            
        </div>
    </div>
{% endblock %}